.CorSVG {
    color: var(--Green);
    font-size: 2.5em;
}

.Header {
    display: flex; justify-content: space-between; align-items: center; gap: 0 1em;
    padding: 0 2em;
    width: 100%;
    height: 5em;
    background: var(--DarkBlue);
}

.Menu { background: none; border: none; }
.Menu svg { font-size: 4em; color: var(--Green); }

.Image {
    width: 10em;
    height: auto;
}

.divInput {
    display: flex; align-items: center;
    border: 4px solid var(--Green);
    border-radius: 20px;
    width: 100%;
}

.Padrao { height: 50px; }

.input {
    border-radius: 15px 0 0 15px ;
    border: none;
    width: 100%;
    box-sizing: border-box;
    font-size: 2rem;
    padding: 0 0.6em;
}

.input::placeholder {
    text-align: center;
}

.Button {
    width: 70px;
    background: var(--DarkGreen);
    border: none;
    border-radius: 0 20px 20px 0;
}