.Div1_Principal {
    padding: var(--addingGeneral);
    justify-content: space-between;
    align-items: center;
    display: flex;
    background-color: var(--DarkBlue);
    height: 4em;
    border-bottom: 4px solid var(--Green);
}

.Image {
    margin-right: 68px;
    width: 12.5em;
    height: auto;
}

.Div1_Section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.Div1_Section input {
    width: 92%;
    height: 100%;
    border-top: 4px solid var(--Green); border-bottom: 4px solid var(--Green); border-left: 4px solid var(--Green);
    border-radius: 50px 0 0 50px;
    padding-left: 20px;
    font-size: 1.5rem;
}

.Div1_Section_Icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8%;
    height: 100%;
    background-color: var(--Green);
    border-radius: 0 50px 50px 0;
    color: var(--DarkBlue);
}