@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');

:root {
    --White: #ffffff;
    --DarkBlue: #0041B2;
    --Green: #00FF15;
    --Black: black;

    /* SPACING */

    --addingGeneral: 15px 110px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Jura', sans-serif;
    font-weight: 500;
    font-size: 16px;
}