
.Div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    margin: 0.5em;
    border: 4px solid var(--DarkBlue);
    border-radius: 10px;
}

.Geral {
    display: flex;
    align-items: center;
}

.Geral p {
    font-size: 1.5rem;
    margin: 0 9px;
    color: var(--Black);
}

.Icon {
    display: flex;
    justify-content: center;
    background: var(--DarkBlue);
    width: 2.5em;
    height: 100%;
}   

.Icon1 {
    transition: all 200ms;
}

.Icon1:hover {
    transform: rotate(-180deg);
}